<h1>our hairdresser $stylist.getName() is absolutly amazing, she is $stylist.getAge() years old and her specialty is $stylist.getSpecialty, she has $stylist.getExperience years experience as a hairdresser!
